grpc:
    addr: ':9898'
    
websocket:
    addr: ':9005'
    path: /ws
    requsetTimeOut: 10s

redis:
    addr: '127.0.0.1:7001,127.0.0.1:7002,127.0.0.1:7003,127.0.0.1:7004,127.0.0.1:7005,127.0.0.1:7006'
    password: 
    poolSize: 100

arangoDB:
    addr: 'http://127.0.0.1:8529'
    database: 
    username: 
    password: 
    httpProtocol: "1.1" # HTTP protocol (1.1/2)

nats:
    addr: '127.0.0.1:4221,127.0.0.1:4222,127.0.0.1:4223'
    username: 
    password: 
    clusterID: stan