redis:
    addr: 127.0.0.1:7001,127.0.0.1:7002,127.0.0.1:7003,127.0.0.1:7004,127.0.0.1:7005,127.0.0.1:7006
    password:
    poolSize: 100
    retryCount: 5 # 重讀次數
    retryInterval: 300ms # 重試次數
    gameRecordIncrExpire: 168h0m0s

arangoDB:
    addr: http://127.0.0.1:8529
    database: Database
    connlimit: 40
    username:
    password:
    retryCount: 5 # 重讀次數
    retryInterval: 300ms # 重試次數
    httpProtocol: "1.1" # HTTP protocol (1.1/2)

nats:
    addr: 127.0.0.1:7100,127.0.0.1:7101,127.0.0.1:7102
    username: jim
    password: password
    clusterID: test-nats-streaming-cluster
    reconnInterval: 1s # 重新連線間隔(秒)
    connectTimeOut: 300s
    stanPingsInterval: 2 # ping server 間隔(秒)
    stanPingsMaxOut: 2 # 超過次數嘗試重新連線